.welcome-section {
    text-align: center;
    padding: 40px 20px 0 20px;
    position: relative;
    color: #333;
}

.welcome-section h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #39A388;
}

.welcome-section p {
    font-size: 18px;
    max-width: 800px;
    margin: 0 auto;
}

.featured-properties {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
    margin-bottom: 0px;
}

.featured-properties h2 {
    text-align: center;
    color: #39A388;
    margin-bottom: 20px;
}

.property-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.property-card {
    background-color: #fff;
    border: 1px solid #C6D870;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.3s;
    z-index: 10000;
}

.property-card:hover {
    transform: scale(1.05);
}

.property-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.property-card h3 {
    margin-top: 10px;
    margin-left: 20px;
    color: #39A388;
    font-weight: 800;
}

.property-card p {
    margin: 20px;
    color: #333;
    font-weight: 450;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.km{
    text-align: center;
}