#Map{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
}

#Container{
    background-color: #1055C9;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    color: #EFF5D2;
}

#Header_Contact{
    background-color: #1581BF;
    line-height: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

#Contact_me{
    color: #EFF5D2;
    line-height: 15px;
    padding-bottom: 10px;
}